<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Cart\UpdatePost">
        <plugin name="EcommPro_AjaxCartSwatches" type="EcommPro\AjaxCartSwatches\Plugin\Checkout\Controller\Cart\UpdatePost" sortOrder="5" />
    </type>

    <type name="Magento\Checkout\Block\Cart">
        <plugin name="EcommPro_AjaxCartSwatches" type="EcommPro\AjaxCartSwatches\Plugin\Checkout\Block\Cart" sortOrder="5" />
    </type>
</config>